{% extends 'base2.html.twig' %}

{% block title %}ContratVie index{% endblock %}

{% block body %}
    <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">

    <h1>ContratVie index</h1>
 <div class="row justify-content-center"> {# Centrer horizontalement #}
        <div class="col-md-12"> {# Utilisez col-md-12 pour occuper toute la largeur #}
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Date_debut</th>
                <th>Date_fin</th>
                <th>Description</th>
                <th>MatriculeAgent</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for contrat_vie in contrat_vies %}
            <tr>
                <td>{{ contrat_vie.id }}</td>
                <td>{{ contrat_vie.DateDebut ? contrat_vie.DateDebut|date('Y-m-d') : '' }}</td>
                <td>{{ contrat_vie.DateFin ? contrat_vie.DateFin|date('Y-m-d') : '' }}</td>
                <td>{{ contrat_vie.Description }}</td>
                <td>{{ contrat_vie.MatriculeAgent }}</td>
                <td>
                    <a href="{{ path('app_contrat_vie_show', {'id': contrat_vie.id}) }}">show</a>
                    <a href="{{ path('app_contrat_vie_edit', {'id': contrat_vie.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
    </div>
    </section>

    <a href="{{ path('app_contrat_vie_new') }}">Create new</a>
{% endblock %}
