{% extends 'baseback.html.twig' %}

{% block title %}Commentaire {% endblock %}

{% block content1 %}
<center>
    <h1>Commentaire</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Commentaires</th>
                <th>Note</th>

            </tr>
        </thead>
        <tbody>
        {% for comment in comments %}
            <tr>
                <td>{{ comment.id }}</td>
                <td>{{ comment.description }}</td>
                <td>{{ comment.rate }}</td>
               <td>
               <style>
               .comment-links {
                   display: flex;
                   flex-direction: column;
               }

               .comment-links > div {
                   margin-bottom: 5px; /* Adjust as needed */
               }
               </style>
                   <div class="comment-links">
                       <div><a href="{{ path('app_comment_show', {'id': comment.id}) }}">Voir Plus</a></div>
                       <div><a href="{{ path('app_comment_edit', {'id': comment.id}) }}">Modifier</a></div>
                      {{ include('comment/_delete_form.html.twig') }}
                   </div>
               </td>

            </tr>
        {% else %}
            <tr>
                <td colspan="2">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_comment_new') }}">Create new</a>
</center>
{% endblock %}

