{%  extends 'base.html.twig' %}
{%  block title%} protechtini {% endblock %}
{%  block body %}
    <main id="main">

        <!-- ======= Portfolio Section ======= -->
        {% for article in articles %}
        {% endfor %}
        <section id="portfolio" class="portfolio">
            <div class="container" data-aos="fade-up">

                <div class="section-title">
                    <h2>Articles</h2>
                    <p>Explorer notre actualité en navigant les derniers articles.</p>
                </div>

                <div class="row">
                    <div class="col-lg-12 d-flex justify-content-center">
                        <ul id="portfolio-flters">
                            <li data-filter="*" class="filter-active">Tous</li>
                            <li data-filter=".filter-auto">Auto</li>
                            <li data-filter=".filter-hab">Habitat</li>
                            <li data-filter=".filter-san">Sante</li>
                        </ul>
                    </div>
                </div>

                <div class="row portfolio-container">
                    {% for article in articles %}
                        {% if article.categorie == 'Auto' %}
                            <div class="col-lg-4 col-md-6 portfolio-item filter-auto">
                                <div class="portfolio-wrap">
                                    <img src="{{ asset('uploads/images/' ~ article.image) }}" class="img-fluid" alt="">
                                    <div class="portfolio-info">
                                        <h4>{{ article.title }}</h4>

                                    </div>
                                    <div class="portfolio-links">
                                        <a href="{{ asset('uploads/images/' ~ article.image) }}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="{{ article.description }}"><i class="bx bx-plus"></i></a>
                                        <a href="{{ path('app_client_articlebyid', {'id': article.id}) }}" title="Voir Plus"><i class="bx bx-link"></i></a>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                        {% if article.categorie == 'Habitat' %}
                            <div class="col-lg-4 col-md-6 portfolio-item filter-hab">
                                <div class="portfolio-wrap">
                                    <img src="{{ asset('uploads/images/' ~ article.image) }}" class="img-fluid" alt="">
                                    <div class="portfolio-info">
                                        <h4>{{ article.title }}</h4>

                                    </div>
                                    <div class="portfolio-links">
                                        <a href="{{ asset('uploads/images/' ~ article.image) }}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="{{ article.description }}"><i class="bx bx-plus"></i></a>
                                        <a href="{{ path('app_client_articlebyid', {'id': article.id}) }}" title="Voir Plus"><i class="bx bx-link"></i></a>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                        {% if article.categorie == 'Sante' %}
                            <div class="col-lg-4 col-md-6 portfolio-item filter-san">
                                <div class="portfolio-wrap">
                                    <img src="{{ asset( 'uploads/images/' ~ article.image)}}" class="img-fluid" alt="">
                                    <div class="portfolio-info">
                                        <h4>{{ article.title }}</h4>
                                    </div>
                                    <div class="portfolio-links">
                                        <a href="{{ asset('uploads/images/' ~ article.image )}}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="{{ article.description }}"><i class="bx bx-plus"></i></a>
                                        <a href="{{ path('app_client_articlebyid', {'id': article.id}) }}" title="Voir Plus"><i class="bx bx-link"></i></a>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}

                </div>

            </div>
        </section><!-- End Portfolio Section -->
    </main>





{%endblock%}