{% extends 'base.html.twig' %}

{% block title %}Prescription{% endblock %}

{% block body %}
    <h1>Prescription</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ prescription.id }}</td>
            </tr>
            <tr>
                <th>Date Prescription</th>
                <td>{{ prescription.datePrescription ? prescription.datePrescription|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Medications</th>
                <td>{{ prescription.medications }}</td>
            </tr>
            <tr>
                <th>Status Prescription</th>
                <td>{{ prescription.statusPrescription }}</td>
            </tr>
            <tr>
                <th>Additional Notes</th>
                <td>{{ prescription.additionalNotes }}</td>
            </tr>
            <tr>
                <th>Validity Duration</th>
                <td>{{ prescription.validityDuration }}</td>
            </tr>
            <tr>
                <th>Client Name</th>
                <td>{{prescription.userCIN }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_prescription_index') }}">back to list</a>

    <a href="{{ path('app_prescription_edit', {'id': prescription.id}) }}">edit</a>

    {{ include('prescription/_delete_form.html.twig') }}
{% endblock %}
