{% extends 'admin/index.html.twig' %}

{% block title %}User index{% endblock %}

{% block profile %}
    <div class="d-flex" >
        <div class="col-md-12">
            <h1 class="mb-4">Liste des utilisateurs</h1>

            <table class="table table-bordered table-hover">
                <thead class="table-secondary">
                    <tr>
                        <th>Id</th>
                        <th>CIN</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Email</th>
                        <th>Address</th>
                        <th>Phone Number</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in users %}
                        <tr>
                            <td>{{ user.id }}</td>
                            <td>{{ user.cin }}</td>
                            <td>{{ user.firstName }}</td>
                            <td>{{ user.lastName }}</td>
                            <td>{{ user.email }}</td>
                            <td>{{ user.address }}</td>
                            <td>{{ user.phoneNumber }}</td>
                            <td class="ml-2">
                            <div class="d-flex">
                            {# <a href="{{ path('app_user_show', {'id': user.id}) }}" class="btn btn-info btn-sm mr-2">
                                <i class="bi bi-eye"></i>
                            </a> #}
                          
                            <a href="{{ path('app_user_edit', {'id': user.id}) }}" class="btn btn-primary btn-sm mr-4" style="margin-right: 4%;">
                                <i class="bi bi-pencil"></i>
                            </a>
                            {{ include('user/_delete_form.html.twig') }}
                        </div>
                                                    </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="9" class="text-center">No Users found</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

            <a href="{{ path('app_user_new') }}" class="btn btn-primary text center">Create New</a>
        </div>
    </div>
    <script>
        // Your delete function remains unchanged
        function deleteUser(userId, csrfToken) {
            // ...
        }
    </script>
{% endblock %}
